<%= render "shared/header" %>

    <div class='title-contents'>
    <h2 class='service-title'>
      0.0004％
    </h2>
    </div>

    <div class='user-contents'>
      <h2 class='title'>Matching</h2>
      <ul class='user-lists'>

       <% @users.each do |user|%>
           <%= link_to user_path (user.id) do %>
             <div class='user-img-content'>
                <%= image_tag user.image, class: "user-img" %>
              </div>
            <% end %>
       <% end %>
      </ul>
    </div>
    
 <%= render "shared/footer" %>